header .container {
    display: flex;
    height: 100px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #000;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.13;
    color: #404040;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 25px;
    border-bottom: solid 1px rgba(0, 0, 0, 0);
    transition: border-bottom .5s;
}

li:hover {
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.logo {
    width: 70px;
    height: 79px;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 35px);
}

img {
    width: 100%;
}

.userBlock {
    justify-self: flex-end;
}

i {
    color: #404040;
    font-size: 21px;
    margin-left: 25px;
}

.userBlock i:hover {
    cursor: pointer;
    color: #d44848;
    transition: color .3s;
}

/* burger menu */

.rootBurger {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0;
    border-radius: 10%;
}

* {
    padding: 0;
    margin: 0;
}

.burger-menu {
    box-sizing: border-box;
    padding: 15% 15%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.burger-menu__line {
    width: 100%;
    height: 15%;
    background-color: #000;
    margin: 0 auto;
    transition: transform .3s;
}

.burger-menu.active .line1 {
    position: relative;
    top: 25%;
    transform: rotate(45deg);
}

.burger-menu.active .line3 {
    transform: rotate(-45deg);
    position: relative;
    bottom: 25%;
}

.burger-menu.active .line2 {
    display: none;
}

.burgerMenuList {
    height: 0;
    overflow: hidden;
    transition: height .5s;
}

.showMenu {
    height: 100px;
}

@media(max-width:768px) {
    header ul {
        display: none;
    }
    header ul.burgerMenuList {
        display: block;
    }
    .rootBurger {
        display: block;
    }
    .userBlock i {
        margin-left: 15px;
    }
    header .add {
        height: auto;
    }
    .burgerMenuList li {
        line-height: 30px;
        border-bottom: solid 1px rgba(0, 0, 0, 0);
    }
    .burgerMenuList li:hover {
        border-bottom: solid 1px rgba(0, 0, 0, 1);
        cursor: pointer;
    }
}
header .add{
    height: auto;
}